@use "mixins" as *;

.skiplink,
.visually-hidden {
  @include visually-hidden;
}

/* Body */
body {
	background-color: var(--background-page);
	color: var(--color-primary, #121212);
	font-family: 'Overpass', 'Helvetica Neue', sans-serif;
	font-size: 1.25rem;
  min-width: 320px;
  @include body-mobile-max-breakpoint {
    font-size: 1.025rem;
  }
}
