$p-margin: 1.5625rem;
$main-margin: 18.75rem;
$main-max-width: 87.5rem;

@mixin color-scheme-light {
  --background-page: rgb(255, 255, 255);
  --background-header: rgb(247, 246, 243);
  --background-input: rgb(255, 255, 255);
  --color-primary: rgb(18, 18, 18);
  --color-primary-rgb: 18, 18, 18;
  --color-light-on-dark: var(--background-header);
  --color-link: rgb(32, 78, 138);
  --color-link-hover: rgb(255, 174, 0);
  --border-primary: rgb( 0, 0, 4);
  --border-primary-rgb: 0, 0, 4;
}

@mixin color-scheme-dark {
  --background-page: rgb(18, 18, 18);
  --background-header: rgb(0, 0, 0);
  --background-input: rgb(43, 42, 51);
  --color-primary: rgb(198, 198, 198);
  --color-primary-rgb: 198, 198, 198;
  --color-light-on-dark: var(--background-header);
  --color-link: rgb(0, 133, 185);
  --color-link-hover: rgb(255, 174, 0);
  --border-primary: rgb( 255, 255, 250);
  --border-primary-rgb: 255, 255, 250;
}

@mixin small-breakpoint {
  // 640px
  @media screen and (min-width: 40em) {
    @content;
  }
}

@mixin medium-breakpoint {
  // > 768px
  @media screen and (min-width: 48.01em) {
    @content;
  }
}

@mixin medium-max-breakpoint {
  // < 768px
  @media screen and (max-width: 48em) {
    @content;
  }
}

@mixin large-breakpoint {
  // 1100px
  @media screen and (min-width: 68.75em) {
    @content;
  }
}

@mixin headline {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -.45px;
  line-height: 1.25;
  word-break: break-word;
}

@mixin quotation {
  background-color: var(--background-header);
  border-left: 10px solid rgba(var(--color-primary-rgb), 0.25);
  margin-bottom: $p-margin;
  padding: .9375rem;
}

@mixin visually-hidden {
  clip: rect( 1px, 1px, 1px, 1px );
	height: 1px;
	overflow: hidden;
  position: absolute;
  width: 1px;
}
