@use "mixins" as m;

/* grid */
.page-header {
  grid-area: header;
  padding: 20px;
  &__grid {
    display: grid;
    grid-template-areas:
    "headline nav";
    grid-template-columns: max-content auto;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }
  &__headlines {
    grid-area: headline;
  }
  &__nav {
    grid-area: nav;
  }
}

.page-header {
  background-color: var(--background-header);
  &__headlines {
    display: flex;
    flex-direction: row;
  }
  &__headline {
    font-size: 1.125rem;
    font-weight: 700;
    a {
      color: inherit;
      @include m.internal-link;
    }
  }
  &__subheadline {
    font-size: 1.125rem;
    font-weight: 300;
    opacity: .7;
    padding-left: 0.5em;
  }
}

.header-nav {
  text-align: right;
  &__icon {
    color: var(--color-primary);
    cursor: pointer;
    display: none;
    height: 24px;
    opacity: 0.7;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    @include m.medium-max-breakpoint {
      display: block;
      svg {
        fill: currentColor;
        rect {
          transform-origin: center center;
          transition: all .2s ease-in-out;
        }
      }
    }
  }
  &__headline {
    @include m.visually-hidden;
  }
  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    @include m.medium-max-breakpoint {
      display: block;
      height: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .25s ease-in-out;
    }
  }
  &__nav-item {
    font-size: 1.125rem;
    font-weight: 300;
    & + li {
      margin-left: 0.5em;
    }
    a {
      color: var(--color-primary);
      display: inline-block;
      font-weight: 300;
      opacity: 0.7;
      @include m.internal-link;
      @include m.medium-max-breakpoint {
        margin-bottom: 4px;
      }
    }
    &--active a {
      border-bottom: 1px solid currentColor;
      color: inherit;
      &:hover, &:active, &:focus {
        border-bottom: 1px solid currentColor;
        color: inherit;
        cursor: default;
      }
    }
  }
}

#sidebar-nav-toggle {
  display: none;
  @include m.medium-max-breakpoint {
    &:checked {
      & ~ .header-nav__icon {
        color: var(--color-link);
        .bar {
          opacity: 0;
        }
        rect:nth-child(3) {
          transform: rotate(45deg);
        }
        rect:nth-child(4) {
          transform: rotate(-45deg);
        }
      }
      & ~ .header-nav__nav-list {
        height: auto;
        max-height: 500px;
        opacity: 1;
        overflow: visible;
        padding: 10px 0;
      }
    }
  }
}
