body {
  background-color: #000;
  background-image: url(/images/fussball/soccercity.jpg);
  background-position: center 1200px;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(196, 196, 196);
  font-family: Georgia, serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: minmax(20px, auto) 300px 540px minmax(20px, auto);
  gap: 15px 15px;
  padding-bottom: 40px;
}
main > header {
  grid-column: 2;
}
main > nav {
  grid-column: 3;
}
main > article {
  display: contents;
}
main > article > h1 {
  grid-column: 3;
}
@media screen and (max-width: 880px) {
  main {
    grid-template-columns: minmax(20px, auto) 1fr minmax(20px, auto);
  }
  main > nav {
    grid-column: 2;
  }
  main > article > h1 {
    grid-column: 2;
  }
}

.meta {
  grid-column: 2;
}

.content,
.articlenav {
  grid-column: 3;
}
@media screen and (max-width: 880px) {
  .content,
.articlenav {
    grid-column: 2;
  }
}

.comments {
  display: contents;
}
.comments > ol, .comments li {
  display: contents;
}
.comments > header {
  grid-column: 3;
}
@media screen and (max-width: 880px) {
  .comments > header {
    grid-column: 2;
  }
}

main > header,
.meta,
a,
h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

a:link,
a:visited {
  color: #107fc9;
  text-decoration: none;
}

a:hover {
  color: #ff6600;
  text-decoration: underline;
}

main > header {
  padding-top: 40px;
}
main > header .title {
  font-size: 3.2rem;
  font-weight: 900;
}
main > header .subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 4px;
}

main > nav {
  align-self: end;
  justify-self: end;
}
@media screen and (max-width: 880px) {
  main > nav {
    display: none;
  }
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 40px 0 0;
}

.meta {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  padding-top: 6px;
}
@media screen and (max-width: 880px) {
  .meta {
    justify-content: start;
  }
}
@media screen and (min-width: 880px) {
  .meta img {
    order: 1;
  }
}
.meta p {
  margin: 1.4em 0 0;
  padding-right: 10px;
  text-align: right;
}
@media screen and (max-width: 880px) {
  .meta p {
    text-align: left;
    padding-left: 10px;
  }
}

.content p {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin: 0 0 1em;
}

.articlenav {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  margin-bottom: 580px;
}
