@charset "UTF-8";
/* rye-regular - latin */
@font-face {
  font-family: "Rye";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/rye-v13-latin-regular.woff2") format("woff2"), url("/fonts/rye-v13-latin-regular.woff") format("woff");
}
/* antic-slab-regular - latin */
@font-face {
  font-family: "Antic Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/antic-slab-v16-latin-regular.woff2") format("woff2"), url("/fonts/antic-slab-v16-latin-regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  background-image: url("/images/codecandies/truegrit_bridges.png"), url("/images/codecandies/truegrit_bg.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat, repeat-x;
  background-position: 50% 0;
  color: #fff;
  font-family: "Antic Slab", Palatino, Georgia, serif;
  font-size: 1rem;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.headlink {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  margin: 20px 0;
  text-align: center;
}
.headlink a {
  color: inherit;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 45rem) minmax(1.5rem, 1fr);
  margin: 460px auto 5rem;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
main article, main .content {
  display: contents;
}
main header, main footer, main .content > * {
  grid-column: 2;
}
main h1 {
  font-family: Rye, serif;
  font-size: clamp(40px, 13vw, 120px);
  text-align: center;
}
main p {
  font-size: 1.0625rem;
  -webkit-hyphens: auto;
          hyphens: auto;
  line-height: 1.55;
  margin-bottom: 1.25em;
}
main a {
  color: #ff6600;
}
main figure.video, main figure.image {
  grid-column: 1/-1;
  margin: 0 auto 1.25em;
}
main figure.video {
  max-width: 900px;
}
main figure.video img {
  max-width: 100%;
}
main figure.image {
  max-width: 900px;
}
main figure.image div {
  display: flex;
}
main figure.image div img {
  max-width: 100%;
}
main figure.image div img:first-child {
  aspect-ratio: 519/650;
  width: 100%;
}
main figure.image div img:nth-child(2) {
  aspect-ratio: 438/650;
  width: 100%;
}
main figure.image figcaption {
  font-size: 1.0625rem;
  margin: 0 auto;
  max-width: 45rem;
  padding: 1rem 0;
  text-align: center;
}
main footer {
  padding-top: 2rem;
}
main footer ul {
  display: flex;
  list-style: none;
  padding: 0;
}
main footer ul li {
  flex: 1 0 48%;
}
main footer ul li + li {
  text-align: right;
}
main footer ul .previous-post::before {
  content: "←";
  padding-right: 0.25em;
}
main footer ul .next-post::after {
  content: "→";
  padding-left: 0.25em;
}
main footer ul a {
  color: inherit;
  text-decoration: none;
}
