---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

/feed   /feed/feed.xml    200
/codecandies/2011/07/06/twitterdammerung/   /codecandies/2011/07/06/twitterdaemmerung/   301
/blog/2023/10/10/supernova-festival-massacker/   /blog/2023/10/10/supernova-festival-massaker/   301
/blog/2023/10/13/markdown-und-mehr-mit-obsidian/ /blog/2023/10/31/markdown-und-mehr-mit-obsidian/    301
/blog/2026/01/10/haute-and-freddy-big-disgrace/  /blog/2026/01/10/haute-and-freddy-big-disgrace/  301
/blog/invalid%20datetime/balthasar/  /blog/2025/07/05/balthasar/  301
/blog/Invalid%20DateTime/2023-flimmerkiste/  /blog/2023/12/17/2023-flimmerkiste/  301
/blog/Invalid DateTime/supernova-festival-massaker/
/2023/10/10/supernova-festival-massaker/  301
