---
permalink: /archiv/
layout: "layouts/home.njk"
eleventyNavigation:
  parent: main
  emoji: 📓
  key: "Archiv."
  order: 2
---


<h3 class="main-headline">Archiv</h3>

<nav aria-labelledby="themen-nav" class="tagcloud">
  <h3 id="themen-nav" class="section-headline">Themen</h3>
  <ul>
  {% for tag in collections.tagList | sort %}
    {% set tagUrl %}/category/{{ tag | slugify }}/{% endset %}
    <li>
      <a href="{{ tagUrl }}" class="post-tag">
      <h2>{{ tag | title }}</h2>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>

<nav aria-labelledby="tag-nav" class="tagcloud">
  <h3 id="tag-nav" class="section-headline">Tags</h3>
  <ul>
  {% for keyword in collections.keywordList | sort %}
    {% set keywordUrl %}/tag/{{ keyword | slugify }}/{% endset %}
    <li>
      <a href="{{ keywordUrl }}" class="post-tag">
      <h2>{{ keyword }}</h2>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>

<nav aria-labelledby="personen-nav" class="tagcloud">
  <h3 id="personen-nav" class="section-headline">Personen</h3>
  <ul>
{% for person in collections.personList | sort %}
    {% set personUrl %}/person/{{ person | slugify }}/{% endset %}
    <li>
      <a href="{{ personUrl }}" class="post-tag">
      <h2>{{ person }}</h2>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>

<nav aria-labelledby="serien-nav" class="tagcloud">
  <h3 id="serien-nav" class="section-headline">Serien</h3>
  <ul>
{% for serie in collections.seriesList | sort %}
    {% set seriesUrl %}/serie/{{ serie | slugify }}/{% endset %}
    <li>
      <a href="{{ seriesUrl }}" class="post-tag">
      <h2>{{ serie }}</h2>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
