<!doctype html>
<html class="no-js" lang="{{ language or metadata.language  }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, ' ') + ' js';
    </script>
    <title>{%- if title -%}{{ title }} | {% endif %}{{ metadata.title }} – {{ metadata.subtitle }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }} &raquo; Feed" href="{{ metadata.url }}feed/" />
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    {% block additional_styles %}{% endblock %}
  </head>
  <body>
    <a href="#main" class="skiplink">Zum Inhalt springen…</a>
    <div class="wrapper">
      {% block header -%}
      <header class="page-header">
        <div class="page-header__headlines">
        {% block headline -%}
          <div class="page-header__headline"><a href="/">{{ metadata.title }}</a></div>
          <div class="page-header__subheadline">{{ metadata.subtitle }}</div>
        {% endblock -%}
        </div>
        {% block navigation -%}
        <nav aria-labelledby="sidebar-nav" class="page-header__nav header-nav">
          <input id="sidebar-nav-toggle" type="checkbox">
          <label for="sidebar-nav-toggle" class="header-nav__icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Menü</title>
              <rect class="bar" x="2" y="5" width="20" height="2" />
              <rect x="2" y="11" width="20" height="2" />
              <rect x="2" y="11" width="20" height="2" />
              <rect class="bar" x="2" y="17" width="20" height="2" />
            </svg>
          </label>
          <h2 id="sidebar-nav" class="header-nav__headline">Links zu Seiten im Blog</h2>
          <ul class="header-nav__nav-list">
            {%- for entry in collections.all | eleventyNavigation('main') %}
            <li class="header-nav__nav-item{% if entry.url == page.url %} header-nav__nav-item--active{% endif %}">
              <a href="{{ entry.url | url }}" title="{{ entry.title | e }}">
                {{ entry.title }}
              </a>
            </li>
            {%- endfor %}
            <li class="header-nav__nav-item">
              <form method="get" action="https://duckduckgo.com">
                <input name="q" placeholder="Suche" type="text">
                <input name="sites" type="hidden" value="couchblog.de">
              </form>
            </li>
          </ul>

          <!-- DDG search widget,@author Juri Wornowitski,@version 3.0,@link https://www.plainlight.com/ddg
          <div id="widdget" style="width:100%;margin:10px 0;">
            <style type="text/css">#widdget input {display:block;height:30px;padding:4px;outline:none;border:1px solid #8d8d8d;border-right:0;box-sizing:border-box;border-radius:3px 0 0 3px;width:calc(100% - 41px);font-size:15px;} #widdget button {float:left;cursor:pointer;width:43px;height:30px;color:#fff;background-image:linear-gradient(#cacaca,#929292);border:0;border-radius:0 3px 3px 0;padding:0;} #widdget button:active {background-image:linear-gradient(#909090,#585858);} #widdget button:focus {outline:none;}</style>
            <noscript>
              <em>This feature requires JavaScript to be turned <strong>on</strong>.</em>
            </noscript>
            <form style="position:relative" onsubmit="this.elements[0].click();">
              <div style="float:right;position:absolute;top:0;right:-2px;z-index:3"><button type="submit" onclick="var v=this.parentElement.parentElement.elements[1].value;location.href='https://duckduckgo.com?q='+encodeURIComponent(v)+'+site%3Acouchblog.de';return false;">&#128269;</button></div><input type="text" name="q" placeholder="Seite durchsuchen mit Duck Duck Go." />
            </form>
          </div>
          -->
        </nav>
        {% endblock -%}
      </header>
      {% endblock -%}

      <main class="main" id="main">
        {% block main -%}
          {% block featureimage -%}{% endblock -%}
          {%- block articleheader %}{%- endblock -%}
          {%- block content %}
          {{ content | safe }}
          {% endblock -%}
          {% block articlefooter -%}
          {% endblock -%}
        {% endblock -%}
      </main>
      {% block footer -%}{% endblock -%}
    </div>
    <!--script type="module" src="/js/index.js"></script-->
  </body>
</html>
