@mixin font-smoothing($antialiased: true) {
  @if $antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  } @else {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
      only screen and (min-device-pixel-ratio: 1.25),
      only screen and (min-resolution: 200dpi),
      only screen and (min-resolution: 1.25dppx) {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
    }
  }
}

/* aladin-regular - latin */
@font-face {
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/css/fonts/aladin-v17-latin-regular.woff2') format('woff2'),
    url('/css/fonts/aladin-v17-latin-regular.woff') format('woff');
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
}

// header
main > header {
  background-color: #ffb347;
  border-bottom: 3px solid #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  @include font-smoothing;
  .blog-header {
    background-color: #333;
    color: #ffb347;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    .title,
    span {
      color: inherit;
      font-family: Aladin;
      font-weight: 400;
      text-decoration: none;
    }
  }
  .article-header {
    padding: 20px 10px;
    h1 {
      font-family: Aladin, serif;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.12;
      margin: 0 0 0.25em;
      text-shadow: 1px 1px 1px #fff;
      sup {
        vertical-align: 0.2em;
      }
    }
  }
  img {
    display: block;
    max-width: 100%;
  }
  @media screen and (min-width: 890px) {
    position: relative;
    height: 100vh;
    .article-header {
      bottom: 200px;
      left: 540px;
      position: absolute;
      h1 {
        font-size: 6vw; // clamp(2.8rem, 10vw, 6.2rem);
      }
    }
    img {
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: 0;
    }
  }
}

// grid
article,
section {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: minmax(20px, 40px) 200px 540px 200px minmax(20px, 40px);
  gap: 15px 15px;
  padding: 40px 0;
  & > p,
  & > h2,
  & > blockquote,
  nav {
    grid-column: 3;
  }
  .meta,
  .left {
    grid-column: 2;
    grid-row: span 2;
    justify-self: flex-end;
  }
  .right {
    grid-column: 4;
    grid-row: span 2;
  }
  ol,
  li {
    display: contents;
  }
  @media screen and (max-width: 1040px) {
    grid-template-columns: 20px 540px 200px 20px;
    & > p,
    & > h2,
    & > blockquote,
    nav {
      grid-column: 2;
    }
    .meta,
    .left,
    .right {
      grid-column: 3;
    }
  }
  @media screen and (max-width: 820px) {
    grid-template-columns: 20px minmax(260px, 100%) 20px;
    & > p,
    & > h2,
    & > blockquote,
    nav {
      grid-column: 2;
    }
    .meta,
    .left,
    .right {
      grid-column: 2;
    }
  }
}

// styling
h2 {
  font-family: Aladin, 'Helvetica Neue', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 0.05em;
}

a:link,
a:visited {
  color: #107fc9;
  text-decoration: none;
}

a:hover {
  color: #ff6600;
  text-decoration: underline;
}

.meta {
  display: flex;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding-top: 6px;
  @media screen and (max-width: 1040px) {
    //display: block;
    justify-content: start;
  }
  img,
  span {
    @media screen and (min-width: 1040px) {
      order: 1;
    }
  }
  p {
    margin: 0.2em 0 0;
    padding-right: 10px;
    text-align: right;
    @media screen and (max-width: 1040px) {
      text-align: left;
      padding-left: 10px;
    }
  }
}

article,
section {
  & > p,
  .comment_text p {
    font-size: 1.125rem;
    line-height: 1.4;
    margin: 0 0 1em;
  }
  .meta {
    font-size: 0.8rem;
    span {
      box-shadow: 1px 1px 2px #000;
      display: block;
      height: 59px;
      width: 59px;
    }
  }
  figure {
    margin: 0;
    max-width: 200px;
    padding-top: 6px;
    img {
      max-width: 100%;
    }
    @media screen and (max-width: 820px) {
      margin: 10px 0;
      justify-self: center !important;
    }
  }
  blockquote {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.2;
    margin: 0 0 1em;
    position: relative;
    @media screen and (min-width: 1040px) {
      &::before {
        color: #ffb347;
        content: '”';
        font-size: 8rem;
        font-style: normal;
        font-weight: 700;
        left: -0.6em;
        position: absolute;
      }
    }
  }
  .articlenav {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
  }
}
