---
permalink: /themen/
layout: home.njk
eleventyNavigation:
  parent: main
  emoji: 📓
  key: Themen
  order: 4
---

<nav aria-labelledby="main-nav">
  <h3 id="main-nav" class="section-headline">Themenübersicht</h3>
  <ul>
{% for tag in collections.tagList | sort %}
    {% set tagUrl %}/themen/thema/{{ tag | slugify }}/{% endset %}
    <li>
      <a href="{{ tagUrl | url }}" class="post-tag">
      <h2>{{ tag | title }}</h2>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
