@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  color-scheme: light dark;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --darkish: #111;
  --darkish-rgb: 17, 17, 17;
  --blueish: #025d8c;
  --turkish: #00b7cf;
  --orange: #ff6600;
  --goldish: #ffbd00;
  --background-primary: var(--white);
  --text-primary: var(--darkish);
  --text-emphasized: var(--orange);
  --link-primary: var(--blueish);
  --link-hover: var(--orange);
  --primary-transparent: rgba(var(--darkish-rgb), 0.5);
}

/* fredericka-the-great-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/fredericka-the-great-v10-latin-regular.woff2') format('woff2'),
    url('/fonts/fredericka-the-great-v10-latin-regular.woff') format('woff');
}

/* bitter-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/fonts/bitter-v19-latin-300.woff2') format('woff2'),
    url('/fonts/bitter-v19-latin-300.woff') format('woff');
}
/* bitter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/bitter-v19-latin-regular.woff2') format('woff2'),
    url('/fonts/bitter-v19-latin-regular.woff') format('woff');
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}


html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: 'Bitter', serif; /* fix hyphen bug in blink */
  min-width: 375px;
  @media (prefers-color-scheme: dark) {
    --background-primary: var(--darkish);
    --text-primary: var(--white);
    --text-emphasized: var(--goldish);
    --link-primary: var(--turkish);
    --link-hover: var(--goldish);
    --primary-transparent: rgba(var(--white-rgb), 0.5);
  }
}

main {
  & > header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.25rem;
    h1 {
      box-shadow: 1px 1px 5px 0 var(--primary-transparent);
      border-color: currentcolor;
      border-style: solid;
      border-width: 0 1px 1px;
      color: var(--primary-transparent);
      font-family: 'Fredericka the Great', Helvetica, serif;
      font-size: 1rem;
      margin-top: -3px;
      padding: 0.5rem;
      transform: rotate(-1.2deg);
      @media screen and (max-width: 599px) {
        span {
          @include visually-hidden;
        }
      }
    }
    nav {
      display: flex;
      font-size: 12px;
      flex-direction: row;
      padding-top: 1rem;
      a {
        color: var(--primary-transparent);
        margin-left: 10px;
        text-decoration: none;
        &:hover {
          color: var(--primary-transparent);
          text-decoration: underline;
        }
      }
    }
  }
}

article {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(375px, 80ch)
    minmax(1.2rem, 1fr);
  position: relative;

  &::before {
    @media screen and (min-width: 1025px) {
      border-top: 1px solid var(--text-primary);
      content: '';
      position: absolute;
      top: 342px;
      width: 100%;
      z-index: -1;
    }
  }

  & > div {
    grid-column: 2;

    .columns {
      @media screen and (min-width: 500px) {
        columns: 2;
        column-gap: 1em;
      }

      &::first-letter {
        color: var(--text-emphasized);
        float: left;
        font-family: 'Fredericka the Great', serif;
        font-size: 3em;
        line-height: 0.7;
        padding-left: 3px;
        padding-right: 9px;
        padding-top: 6px;
      }
      @supports (hyphens: auto) {
        & {
          font-family: 'Bitter', serif, Helvetica; /* fix hyphen bug in blink */
          hyphens: auto;
          text-align: justify;
        }
      }
    }
  }

  footer {
    grid-column: 2;

    h3 {
      font-family: 'Fredericka the Great', serif;
      margin-bottom: 0.5em;
    }

    .copyright {
      font-size: 0.8em;
      padding-top: 40px;
      text-align: center;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      li {
        flex: 1 0 48%;
      }
      li + li {
        text-align: right;
      }
      .previous-post::before {
        content: '←';
        padding-right: 0.25em;
      }
      .next-post::after {
        content: '→';
        padding-left: 0.25em;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 1em;

    strong {
      color: var(--text-emphasized);
      font-family: 'Fredericka the Great', Helvetica, serif;
      font-size: 120%;
      letter-spacing: 0.05em;
    }
  }

  a {
    color: var(--link-primary);
    text-decoration: underline;
    &[href^='#'] {
      font-size: 82.7%;
      padding: 0 2px;
      text-decoration: none;
      vertical-align: text-bottom;
    }
    &:hover {
      color: var(--link-hover);
      text-decoration: underline;
    }
  }

  figure,
  header {
    grid-column: 1 / 4;
    width: 100%;
    max-width: 100ch;
    justify-self: center;
  }

  figure {
    margin: 20px 0 40px;
    iframe {
      aspect-ratio: 560 / 315;
      height: auto;
      width: 100%;
    }
    figcaption {
      padding-top: 0.6em;
      text-align: center;
    }
  }

  & > header {
    background-color: var(--background-primary);
    div {
      aspect-ratio: 940 / 397;
      background-color: var(--text-primary);
      height: auto;
      mask: url(/img/alice/header.svg) no-repeat center;
      margin: 0 -6px;
      width: calc(100% + 12px);
      -webkit-mask: url(/img/alice/header.svg) no-repeat center;
    }
    h2 {
      font-family: 'Fredericka the Great', serif;
      font-size: 22px;
      font-size: clamp(2rem, 8vw, 3.6rem);
      margin: 20px 0;
      text-align: center;
    }
  }

  .hr {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;

    &::before,
    &::after {
      background-color: var(--text-primary);
      content: '';
      display: block;
      height: 1px;
      margin: auto;
      width: 100%;
    }

    span {
      background-color: var(--text-primary);
      display: block;
      flex-shrink: 0;
      height: 60px;
      margin: 0 10px;
      mask: url(/img/alice/cat.svg) no-repeat center;
      width: 40px;
      -webkit-mask: url(/img/alice/cat.svg) no-repeat center;
    }

    span:nth-child(2) {
      height: 75px;
      width: 75px;
    }
  }
}
