<!doctype html>
<html class="no-js" lang="{{ language or metadata.language  }}">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title>{%- if title -%}{{ title }} | {% endif %}{{ metadata.title }} – {{ metadata.subtitle }}</title>
    {% set meta_description = page.excerpt or description or metadata.description %}
    <meta name="description" content="{{ meta_description | trim | e }}">
    <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }} &raquo; Feed" href="{{ metadata.url }}/feed/" />
    <meta name="color-scheme" content="dark light">
    {%- css %}{% include "public/css/index.css" %}{% endcss %}
    {#- Render the CSS bundle #}
    {%- if eleventy.env.runMode === "serve" %}
    {# External files (local dev live reload will refresh without page reload) #}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    {%- else  %}
    {# Inlined CSS (fastest site performance in production) #}
    <style>{% getBundle "css" %}</style>
    {%- endif %}
    {% block additional_styles %}{% endblock %}
    <link rel="icon" href="/img/admin/cropped-android-chrome-512x512-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="/img/admin/cropped-android-chrome-512x512-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/img/admin/cropped-android-chrome-512x512-1-180x180.png" />
    <meta name="msapplication-TileImage" content="/img/admin/cropped-android-chrome-512x512-1-270x270.png" />
    {% block metadata %}
    <meta name="author" content="{{ metadata.author.name }}" />
    <meta name="last-modified" content="{{ page.date.toISOString() }}">
    <meta name="date" content="{{ page.date.toISOString() }}">
    {% endblock %}
  </head>
  <body>
    <a href="#main" class="skiplink">Zum Inhalt springen…</a>
    <div class="page">
      {% block header -%}
      <header class="page-header">
        <div class="page-header__grid">
          <div class="page-header__headlines">
          {% block headline -%}
            <div class="page-header__headline"><a href="/">{{ metadata.title }}</a></div>
            <div class="page-header__subheadline">{{ metadata.subtitle }}</div>
          {% endblock -%}
          </div>
          {% block navigation -%}
          <nav aria-labelledby="sidebar-nav" class="page-header__nav header-nav">
            <input id="sidebar-nav-toggle" type="checkbox">
            <label for="sidebar-nav-toggle" class="header-nav__icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Menü</title>
                <rect class="bar" x="2" y="5" width="20" height="2" />
                <rect x="2" y="11" width="20" height="2" />
                <rect x="2" y="11" width="20" height="2" />
                <rect class="bar" x="2" y="17" width="20" height="2" />
              </svg>
            </label>
            <h2 id="sidebar-nav" class="header-nav__headline">Links zu Seiten im Blog</h2>
            <ul class="header-nav__nav-list">
              {%- for entry in collections.all | eleventyNavigation('main') %}
              <li class="header-nav__nav-item{% if entry.url == page.url %} header-nav__nav-item--active{% endif %}">
                <a href="{{ entry.url }}" title="{{ entry.title | e }}">
                  {{ entry.title }}
                </a>
              </li>
              {%- endfor %}
            </ul>
          </nav>
          {% endblock -%}
        </div>
      </header>
      {% endblock -%}

      <main class="main" id="main">
        {% block main -%}
          {% block featureimage -%}{% endblock -%}
          {%- block articleheader %}{%- endblock -%}
          {%- block content %}
          {{ content | safe }}
          {% endblock -%}
          {% block articlefooter -%}
          {% endblock -%}
        {% endblock -%}
      </main>

    {% block footer -%}
      <footer class="page-footer">
        {% block webring %}{% endblock %}
        <!-- a11y search like in https://www.a11ymatters.com/pattern/accessible-search/ -->
        <form method="get" action="https://duckduckgo.com" class="page-footer-search">
          <div role="search" class="footer-search">
            <label class="search-label" for="search" aria-labelledby="searchTitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="48" height="48">
                <title id="searchTitle">Suche</title>
                <path d="M27 9C17.075 9 9 17.075 9 27s8.075 18 18 18c4.13 0 7.926-1.413 10.967-3.76l13.082 13.082a2.315 2.315 0 1 0 3.273-3.273L41.24 37.967C43.587 34.927 45 31.129 45 27c0-9.925-8.075-18-18-18zm0 4c7.719 0 14 6.281 14 14s-6.281 14-14 14-14-6.281-14-14 6.281-14 14-14z"/>
              </svg>
            </label>
            <input id="search" name="q" type="text" placeholder="Suche via DuckDuckGo&nbsp;…" required>
            <input name="sites" type="hidden" value="couchblog.de">
            <button type="submit">Suchen</button>
          </div>
        </form>
        <p><small>&copy; {% year %} Couchblog, All rights reserved unless otherwise stated.</small></p>
        <p class="visually-hidden">Couchblog auf <a rel="me" href="https://digitalcourage.social/@nicobruenjes">Mastodon</a>.</p>
      </footer>
    {% endblock -%}
    </div>
  </body>
</html>
